exportPattern("^[[:alpha:]]+")
useDynLib(ZOOPS)
importFrom(Rcpp, evalCpp)
import(RcppArmadillo)
import(universalmotif)
import(UTILS)
importFrom("graphics", "legend", "par", "points")
importFrom("methods", "show")
importFrom("graphics", "layout")